/*     
    Author: Sheela Aprameya
    Date: 03/19/2024  

    Filename: sd_menu_styles.css
    
 */

/* menu styles */
#menu-main{
    display: grid;
    gap: 5rem;
    justify-content: center;
    align-items:baseline;
    grid-template-columns: repeat(3, 1fr);
    max-height: fit-content;
}


.item-card{
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content: center;
    text-align: center;
    color: #382415;
    font-size: 1.5rem;
    
}


.item-img{
    width:  20rem;
    border-radius: 1.5rem;
    box-shadow: 0.5rem 0.5rem 1.5rem #ee9555;
    /* margin: 1rem 0; */
    border: 0.5rem solid #52341e;
}    

.item-title{
    margin-top: 2rem;
    font-size: 2rem;
    padding-bottom: 3rem;
    text-align: center;

}
#brownie-title{
    line-height: 2;
}

.order-button{
    width: fit-content;
    height: fit-content;
    border-radius: 0.5rem;
    box-shadow: 0.5rem 0.5rem 2rem black;
    padding: 1rem;
    margin-top: 1rem;
    color: #d5d1d1;
    background-color: #52341e;
}

.order-button a, #check-out-btn a{
    color: #d5d1d1;
}


.order-button:hover{
    color: white;
    background-color: #694328;
}

.order-button:active{
    box-shadow: 0.5rem 0.5rem 2rem black inset;

}

#aside{
    display: block;
    margin: 5rem auto;
    font-size: 2rem;
    width: 90%;
}




/* Mobile devices styles */
@media only screen and (min-width: 320px) and (max-width: 767px){

    .menu-main{
        font-size: 0.6rem;
    }
    #menu-main{
        grid-template-columns: 1fr;
        margin-top: 0;
    }
    #aside{
        width: 80%;
        /* font-weight: 700; */
    }
    
}

@media only screen and (min-width: 768px) and (max-width:1023px){
    #menu-main{
        grid-template-columns: 1fr 1fr;
    }
    #aside{
        width: 70%
    }

}



