.reviews-main{
    margin: 15rem 3rem 10rem 3rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-flow: row;
    grid-gap: 5rem;
    font-size: 2rem;
}
.review{
    color: #52341e;
    background-color: #f5dbac;
    padding: 2rem;
    border-radius: 1rem;
    box-shadow: 0.5rem 0.5rem 2rem #52341e;
    padding: 5rem;
}
.reviewer{
    display: block;
    font-size: 1rem;
    text-align: right;
    padding-top: 3rem;
}

@media only screen and (min-width: 320px) and (max-width:767px){
    html{
        font-size: 31.25%;
    }
    h1{
        margin-top: 17rem;
        padding: 2rem;
    }
    .reviews-main{
        margin: 0rem 3rem 3rem 3rem;
        grid-template-columns: repeat(2, 1fr);

    }
    #review{
        padding: 2rem;
    }
}

@media only screen and (min-width: 768px) and (max-width:1023px){
    html{
        font-size: 50%;
    }
    h1{
        margin-top: 17rem;
        padding: 2rem;
    }
    .reviews-main{
        margin-top: -0.5rem;
        grid-template-columns: repeat(2, 1fr);
    }
}
