*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
    outline: none;
    text-decoration: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    transition: all 0.5s ease-in;

}

html{
    font-size: 62.5%;
    color: #f0e9e3;

}

body{
    background-color: #88592f;
    min-height: 100vh;
    margin-top: 11rem;
}

.header, footer {
    background-color: #52341e;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 5rem, 7%;
    top: 0;
    left: 0;
    right: 0;
    height: 11rem;
    /* z-index: 1000; */
}

.header{
    position: fixed;


}

.header .logo img{
    height: 10rem;
    margin: 0.5rem;
    border-radius: 1rem;
    box-shadow: 2px 2px 20px  #b6a281;
    border: 3px solid #52341e;

}

.header .siteMenu{
    display: none;
    font-size: 1.5rem;

}

.link{
    height: 7rem;
    font-size: 2rem;
    margin: 0 1rem ;
    color:#f0e9e3;
}
#menu_link{
    font-size: 3rem;
    text-decoration: underline;

}
#menu_link:hover{
    font-size: 3.2rem;
}

.link:hover, .header .actions div:hover{
    font-size: 2.2rem;
}

.header .actions{
    display: flex;
}

.header .actions div{
    display: flex;
    cursor: pointer;
    font-size: 1.3rem;
    padding: 2rem;
}

.header .search-form{
    right: 7%;
    width: 30rem;
    height: 4rem;
    padding: 0.5rem;
    align-items: center;
    align-self: center;
}

.header .search-form input{
    width: 100%;
    height: 3rem;
    padding: 1rem;
    text-transform: none;
    font-size: 1.5rem;
    color:#764b2b;
    border-radius: 0.5rem;
    background-color: #f5dbac;
    box-shadow: 5px 5px 20px inset;


}

#searchBtn{
    text-transform: none;
    font-size: 1.3rem;
    padding: 0.5rem;
    border-radius: 0.5rem;
    background-color: transparent;
    height: 2rem;
    width: 2rem;
    justify-content: center;
    align-items: center;

    
}

#searchBtn img{
    height: 1.2rem;
    background-color: transparent;
    color: white;
}

#searchBtn:hover{
    font-size: 1.5rem;
}

#cart_img{
    height: 3rem;
}

#cart_img:hover{
    height: 3.5rem;
    background-color: #8c5832;   

}
.main{
    min-height: 100vh;
    margin-top: 7rem;
    background-repeat:no-repeat;
    background-size: cover;
    padding: 2rem;
}

.main_article_section {
    font-size: 3rem;
    margin: 5rem;
}
.main_article_image{
    min-height: 60vh;
    background-image: url(CookiesBkgrndAIBigger.png);
    background-size: cover;
    border-radius: 10px;
    margin: 0 5rem;
    box-shadow: 10px 10px 20px #000;

    
}
footer{
color:white;
}

@media (min-width: 370px) and (max-width:1026px){
    .header{
        flex-direction: column;
        height: 15rem;
    }

    .header .logo img{
        height: 7rem;
    }

    .header .navbar{
        max-height: 1rem;
        font-weight: bold;
    }
    .link{
        font-size: 1.5rem;
    }

    body{
        margin-top: 13rem;
    }
    
    .main_article_section,.main_article_image {
        font-size: 2rem;
        margin-left: 0;
        margin-right: 0;
        
    }
    
    #menu_link{
        font-size: 2rem;
    }

}

