/*     
    Author: Sheela Aprameya
    Date: 03/19/2024  

    Filename: sd_styles.css
    
 */

/* Main styles */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
    outline: none;
    text-decoration: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    transition: all 0.5s ease-in;
}

html{
    font-size: 62.5%;
    color: #f0e9e3;
}

body{
    background-image: radial-gradient(#e98944, #89592f,#e98944);
    min-height: 100vh;
    margin-top: 11rem;
}

h1{
    text-align: center;
    font-size: 2.5rem;
    padding-top: 3rem;
}
/* Header and footer styles */
.header, footer {
    background-color: #52341e;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    top: 0;
    left: 0;
    right: 0;
    height: 11rem;
    z-index: 1000;
}


.header{
    position: fixed;
}

.header .logo img{
    height: 10rem;
    margin: 0.5rem;
    border-radius: 1rem;
    box-shadow: 0.2rem 0.2rem 2rem  #b6a281;
    border: 0.3rem solid #52341e;
}

.header .siteMenu{
    display: none;
    font-size: 1.5rem;
}

.link{
    height: 7rem;
    font-size: 2rem;
    margin: 0 1rem ;
    color:#f0e9e3;
}

#menu_link, #video_link, #testimonial_link{
    font-size: 3rem;
    text-decoration: underline;

}
#menu_link:hover{
    font-size: 3.2rem;
}

.link:hover, .header .actions div:hover{
    font-size: 2.2rem;
}

#testimonial_link{
    margin: 0;
}

.header .actions{
    display: flex;
}

.header .actions div{
    display: flex;
    cursor: pointer;
    font-size: 1.3rem;
    padding: 2rem;
}

.header .search-form{
    display: flex;
    flex-flow: row wrap;
    padding: 0 2rem;
    align-items: center;
}

.header .search-form input{
    width: 90%;
    height: 3rem;
    padding: 1rem;
    text-transform: none;
    font-size: 1.5rem;
    color:#764b2b;
    border-radius: 0.5rem;
    background-color: #f5dbac;
    box-shadow: 0.2rem 0.2rem 2rem inset;
    align-items: center;
    
}

#searchBtn{
    display: flex;
    flex-direction: row;
    float: right;
    text-transform: none;
    font-size: 1.3rem;
    padding: 0.5rem;
    border-radius: 0.5rem;
    background-color: transparent;
    height: 2.5rem;
    width: 2rem;
    justify-content: center;
    align-items: center;
}

#searchBtn img{
    height: 1.6rem;
    background-color: transparent;
    color: white;
}

#searchBtn:hover{
    font-size: 1.5rem;
}

#cart_img{
    height: 3rem;
}

#cart_img:hover{
    height: 3.5rem;
    background-color: #8c5832;   
}
#order-form-cart{
    margin-right: 2rem;
}

/* Body section styles */
.main{
    min-height: 100vh;
    margin-top: 7rem;
    background-repeat:no-repeat;
    background-size: cover;
    padding: 2rem;
}

.main_article_section {
    font-size: 3rem;
    margin: 5rem;
}
.main_article_image{
    min-height: 60vh;
    background-image: url(CookiesBkgrndAIBigger.png);
    background-size: cover;
    border: 0.3rem solid #52341e;
    border-radius: 1rem;
    margin: 0 5rem;
    box-shadow: 1rem 1rem 2rem #000;
}

footer{
    font-size: 1.5rem;
    color: #f0e9e3;
    bottom: 0%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin: 0 auto;
    padding: 1rem 5rem;
    flex-direction: row;
    align-items: baseline;
    
    padding-top: 2rem;
    height: auto;
}
footer div{
    display: block;
    margin: 0 auto;
    width: max-content;
    text-align: left;
}

footer h4{
    font-size: 2rem;
}

.footer-link, footer li a.footer, #contact-link{
    font-size: 1.5rem;
    color: #f0e9e3;
    text-decoration: underline;
}

.footer-link:hover{
    font-size: 1.7rem;
}

footer li, li {
    font-size: 1.5rem;
    list-style-type: none;
}

#contact-footer li a{
    color: #f0e9e3;
    text-decoration: underline;
}

footer #disclaimer{
    display: none;
    position: absolute;
    bottom: 0;
}

video{
    filter: drop-shadow(0.8rem 0.8rem 1.5rem #52341e);
    display: block;
    margin: 1rem auto;
    width: 80%;
    border: 0.3rem solid #52341e;
    border-radius: 0.5rem;
    box-shadow: 0.8rem 0.8rem 1.5rem #52341e;

}

.inline-link{
    color: #f0e9e3;
    text-decoration: underline;
    font-size: 2rem;
    
}

.inline-link:hover{
    font-size:  2.2rem;
}


#disclaimer h1{
    margin: 2rem;
}

#disclaimer p, #credits-note{
    padding-top: 5rem;
    font-size: 2rem;
}
.main_article_section > p:nth-child(6){
    margin-top: -4rem;
}
/* Mobile devices styles */
@media only screen and (min-width: 320px) and (max-width:1024px){
    .header{
        flex-direction: column;
        height: 15rem;
    }

    footer{
        grid-column-gap: 2rem;
    }
    footer, footer li, footer li a.footer, #contact-link{
        font-size: 0.7rem;
        padding: 1rem;        
    }

    footer h4, #footer-link{
        font-size: 1rem;
    }
    
    .footer-link{
        font-size: 1rem;
        text-decoration: underline;
    }
    
    .footer-link:hover{
        font-size: 1.3rem;
    }
    footer div:last-child{
        float: right;
        text-align: left;
    }

    .header .logo img{
        height: 7rem;
    }

    

    .header .navbar{
        max-height: 1rem;
        font-weight: bold;
    }
    .link{
        font-size: 1.5rem;
    }
    .inline-link, .inline-link:active{
        font-size: 2rem;
    }

    body{
        margin-top: 13rem;
    }
    
    .main_article_section,.main_article_image {
        font-size: 2rem;
        margin-left: 0;
        margin-right: 0;
        
    }
    
    #menu_link, #video_link, #testimonial_link{
        font-size: 2rem;
    }
    #disclaimer{
        
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 80%;
    }
    #disclaimer h1{
        margin: 1rem;
    }
    
    #disclaimer p, #credits-note{
        
        padding-top: 1rem;
        height: min-content;
    }

    #disclaimer p:first-child{
        margin-top: -8rem;
    }
    .main_article_section > p:nth-child(6){
        margin-top: 0;
    }

}

